[submodule "backend/src/Admin"]
	path = backend/src/Admin
	url = git@github.com:zfegg/admin-admin.git
[submodule "backend/src/BaseProject"]
	path = backend/src/BaseProject
	url = ../zfegg-admin-base-project.git
	branch = master
