.logo-icon {
  background: url('../assets/logo-white.png');
  background-size: auto 100%;
  width: 45px;
  height: 30px;
}
.logo-text {
  background: url('../assets/logo-white.png') right;
  background-size: auto 100%;
  width: 105px;
  height: 30px;
}
/*.ant-pro-sider-menu-logo {*/
/*  padding: 0 15px;*/
/*}*/
/*.ant-pro-global-header {*/

/*}*/

/*.ant-pro-basicLayout-content {*/
/*  margin: 0;*/
/*}*/

/*.ant-pro-basicLayout-content .ant-pro-page-header-wrap {*/
/*  margin: 0;*/
/*}*/
